version: "3.9"

services:
  app:
    build: .
    container_name: e-fiber
    ports:
      - "3000:3000"
    volumes:
      - .:/app
    depends_on:
      - mysql
    env_file:
      - .env
    command: air

  mysql:
    image: mysql:8.0
    container_name: e-fiber-database
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: go_fiber
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
